h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding:  5px 15px;
}

button{
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 20px;
}

label {
    margin-right: 10px;
    font-weight: 500;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(50, 49, 49);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
      position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }