h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding:  5px 15px;
}

button{
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 20px;
}

label {
    margin-right: 10px;
    font-weight: 500;
}