/* Center the form in the middle of the page */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
     height:80vh ;
   
  }
  
  .form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .form-field {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .input-field, .radio-option {
    width: 100%;
  }
  
  .input-field {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .radio-option {
    margin-top: 5px;
  }
  
  .radio-option label {
    font-size: 14px;
    margin-left: 5px;
  }
  
  .radio-option input {
    margin-right: 5px;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }
  
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }